<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Welcome to Alison's Recipe Box</h1>
	<a href="/posts/new">Create a new post</a>
	<%= yield %> 
	<!-- allows us to replace the content from other pages/files and put it into here so they can all look consistant -->

</body>
</html>