<h1>Edit a Recipe!</h1>

<form action="/recipes/<%= :id %>" method="POST">  <!-- will send a post request to /post -->

	<label for= "title">Title: </label>

	<input type="text" name="title" value="<%= @recipes[:title] %>" placeholder="Post Title">

	<label for="ingredients"></label> 
	
	<textarea name="ingredients" placeholder="Ingredients"><%= @recipes[:ingredients] %></textarea>

	<label for="body"></label> 
	
	<textarea name="body" placeholder="Post Body"><%= @recipes[:body] %></textarea>

	<input type="hidden" name="_method" value="PUT">

	<input type="submit" value="Save">

</form>