<h2>New Recipe</h2>

<p>Have an idea for a new dish? Add your recipe below</p>

<form action="/recipes" method="POST">  <!-- will send a post request to /post -->

	<label for= "title">Title: </label>

	<input type="text" name="title" placeholder="Recipe Name">

	<label for="ingredients"></label> 
	
	<textarea name="ingredients" placeholder="Ingredients"></textarea>

	<label for="body"></label> 
	
	<textarea name="body" placeholder="Method"></textarea>

	<input type="submit" value="Save">

</form>